<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>     
    <h2>Error 404: La p&aacute;gina no existe</h2>
    <p>La p&aacute;gina que busca no existe. Intente regresar a la <a href="javascript:history.back()">p&aacute;gina anterior</a> o ir a la <a href="/">p&aacute;gina principal</a>.</p>
</body>
</html>